

<h1>Vacances</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Date start</th>
      <th>Date end</th>
      <th>Commentaire</th>
      <th>J/O</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vacances.each do |v| %>
      <tr>
        <td><%= v.user_id %></td>
        <td><%= v.date_start %></td>
        <td><%= v.date_end %></td>
        <td><%= v.commentaire %></td>

        <td><%= v.business_days_between %></td>

        <td><%= link_to 'Show', user_vacance_path(id:v.id)%></td>
        <td><%= link_to 'Edit', edit_user_vacance_path(id:v.id) %></td>
        <td>
          <%=link_to 'Destroy', user_vacance_path(id:v.id), method: :delete, data: { confirm: 'Are you sure?' }%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vacance', new_user_vacance_path %>
