<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @vacance.user_id %>
</p>

<p>
  <strong>Date start:</strong>
  <%= @vacance.date_start %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @vacance.date_end %>
</p>

<p>
  <strong>Commentaire:</strong>
  <%= @vacance.commentaire %>
</p>

<h2>Liste des jours demandé</h2>
<ul>
  <%@vacance.vacance_days.each do |vd| %>
      <li><%= vd.date %> - <%= vd.get_decision_s%></li>
  <% end %>
</ul>


<%= link_to 'Back', root_path %>
