<p>
  <strong>User:</strong>
  <%= @vacance.user.username.capitalize %>
</p>

<p>
  <strong>Date start:</strong>
  <%= @vacance.date_start %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @vacance.date_end %>
</p>

<p>
  <strong>Commentaire:</strong>
  <%= @vacance.commentaire %>
</p>

<h2>Liste des jours demandés</h2>

<form method="post">
  <% if @current_user.user_in_role?("gestionnaire")%>
      <%=submit_tag "Approuver les jours sélectionnés", name: 'approb_checkbox' %><br><%=submit_tag "Refuser les jours sélectionnés", name: 'refuse_checkbox'%>
  <%end%>
  <table border="1">
    <thead>
    <tr>
      <th><input type="checkbox" id="selectAll" value="selectAll"></th>
      <th>Date</th>
      <th>Status</th>
      <th>Approbateur</th>
      <th colspan=2>Action</th>
    </tr>
    </thead>

    <tbody>
    <% @vacance.vacance_days.order(:date).each do |vd| %>
        <tr>
          <td>
            <% unless vd.approbation.present? || !@current_user.user_in_role?("gestionnaire")%>
                <%=check_box_tag('vacance_days_ids[]', vd.id, checked = false )%>
            <%end%>
          </td>
          <td><%=vd.date%></td>
          <td><%=vd.get_decision_s%></td>
          <td><%=vd.get_decision_user_s.capitalize if vd.approbation.present?%></td>
          <% unless vd.approbation.present? || !@current_user.user_in_role?("gestionnaire")%>
              <td><%=submit_tag 'Approuver', name: "approb_one[#{vd.id}]"%></td>
              <td><%=submit_tag 'Refuser', name: "refuse_one[#{vd.id}]"%></td>

          <%end%>
        </tr>
    <% end %>
    </tbody>
  </table>
  <br>

</form>
<p><%= link_to 'Back', root_path %></p>

<script>
    $('#selectAll').click(function() {
        if (this.checked) {
            $(':checkbox').each(function() {
                this.checked = true;
            });
        } else {
            $(':checkbox').each(function() {
                this.checked = false;
            });
        }
    });


</script>