<h1>Users</h1>

<table>
  <thead>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Rôle</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr id='user_<%=user.id%>'>
        <td><%= user.username %></td>
        <td><%= user.email %></td>

        <td><%=user.get_role_s %></td>
        <!--td><%= link_to 'Show', user %></td-->
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Delete', user, method: :delete, remote: true, data: { confirm: 'êtes-vous sur?' } %></td>

        <% if user.is_admin %>
            <td><%= link_to 'Remove Admin', user_set_role_path(user,0) %></td>
        <% end %>
        <% if user.is_gestionnaire %>
            <td><%= link_to 'Remove Gestionnaire',user_set_role_path(user,0) %></td>

        <% end %>
        <% if user.is_user %>
            <td><%= link_to 'Make Gestionnaire', user_set_role_path(user,1)  %></td>
            <td><%= link_to 'Make Admin', user_set_role_path(user,2) %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Créer un utilisateur', new_user_path %>
