<h1>Users</h1>

<table>
  <thead>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Rôle</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr id='user_<%=user.id%>'>
        <td><%= user.username %></td>
        <td><%= user.email %></td>

        <td><%=user.get_all_role_s %></td>
        <!--td><%= link_to 'Show', user %></td-->
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Delete', user, method: :delete, remote: true, data: { confirm: 'êtes-vous sur?' } %></td>
        <td><%= link_to 'Edit Roles', user_role_edit_path(user) %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Créer un utilisateur', new_user_path %>
