<!DOCTYPE html>
<html>
  <head>
    <title>ProjetVacances</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>Application</h1>

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
<hr>
  <p id="notice"><%= notice %></p>
  <% flash[:error] = flash[:errors] = flash[:notice] = nil %>
    <%= yield %>
  </body>
</html>
